{% extends 'employee/base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center mb-4">Supprimer une voiture</h1>
        <form method="post">
          {% csrf_token %}
          <p>Confirmer l'opération !</p>
          <button type="submit" class="btn btn-danger">Supprimer</button>
          <a href="{% url 'employee:cars' %}" class="btn btn-secondary">Annuler</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
