{% extends 'employee/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4 class="card-title mb-0">Owner Profile</h4>
                    </div>
                    <div class="card-body text-center">
                        {% if user.picture.url %}
                            <img src="{{ user.picture.url }}" class="img-fluid rounded-circle mb-3"
                                 alt="Profile Picture">
                        {% else %}
                            <i class="fa fa-user-circle fa-5x text-muted mb-3"></i>
                        {% endif %}
                        <h5 class="card-text">{{ user.username }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Nom:</strong> {{ user.get_full_name }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                        <li class="list-group-item"><strong>Télephone:</strong> {{ user.phone }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4 class="card-title mb-0">Information sur l'agence</h4>
                    </div>

                    {% if agency %}


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Nom:</strong> {{ agency.name }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ agency.email }}</li>
                            <li class="list-group-item"><strong>Téléphone:</strong> {{ agency.phone }}</li>
                            <li class="list-group-item"><strong>Addresse:</strong> {{ agency.address }}</li>
                            <li class="list-group-item"><strong>Ville:</strong> {{ agency.city }}</li>
                        </ul>
                    {% else %}
                        <h4 class="card-title mb-0">Cliquer ici !</h4>
                        <div class="col-md-6">
                            <a href="{% url 'employee:agency' %}" class="btn btn-secondary">Ajouter</a>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
