{% extends 'employee/base.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row mb-2 justify-content-center mt-3">
        <div class="col-sm-6">
          <h1 style="color: blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">Revenues</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center mt-3">
        <!-- left column -->
        <div class="col-md-6">
          <!-- Total Income card -->
          <div >
              <h3 class="card-title" style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Revenue total</h3>
            <div >
              <h3 class="text-center">{{total_income}} DH</h3>
            </div>
          </div>
          <!-- /.card -->

          <!-- Most Profitable Car card -->
          <div >
            <div >
              <h3 class="card-title" style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Top voitures</h3>
            </div>
            <div >
                  <h4 class="text-center">{{ topcar_profit.car__car_model__car_brand__name }} - {{ topcar_profit.car__car_model__name }} </h4>
              <h5 class="text-center">{{ topcar_profit.total_rental_price }} MAD</h5>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.left column -->

        <!-- right column -->
        <div class="col-md-6">
          <!-- Monthly Income card -->
          <div >
            <div >
              <h3 class="card-title" style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Revenue mensuel</h3>
            </div>
            <div >
              <h3 class="text-center" >{{ per_month_income }} DH</h3>
            </div>
          </div>
          <!-- /.card -->

          <!-- Most Rented Car card -->
          <div >
            <div >
              <h3 class="card-title" style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Les voitures les plus demandées</h3>
            </div>
            <div >
                  <h4 class="text-center">{{ top_rented_car.car__car_model__car_brand__name }} - {{ top_rented_car.car__car_model__name }} </h4>
              <h5 class="text-center">{{ top_rented_car.total_rentals }} locations</h5>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.right column -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
